#authentication-wrapper 
{
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 1024px;
}

.authentication-image-box 
{
    min-width: 830px;
    background-size: cover;
}

.authentication-box 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/image/escaperoom-tama.png');

    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% center;
    
    flex-grow: 1;
    min-width: 610px;
}

.authentication-container 
{
    background-color: rgba(255, 255, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 240x;

    width: 380px;
    padding: 10px;
}

.authentication-title 
{
    color: rgb(64, 64, 64, 1);
}

.authentication-contents 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.authentication-input-container 
{
    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 100%;
}

.authentication-button-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
}

.authentication-sns-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.kakao-button 
{
    background-image: url('../../assets/image/kakao-button.png');
}

.naver-button 
{
    background-image: url('../../assets/image/naver-button.png');
}
/* 최종완료 */

